<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mahoo.hippus.mapper.ExceptionLogMapper">

    <resultMap id="BaseResultMap" type="com.mahoo.hippus.model.ExceptionLog">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="exceptionMessage" column="exception_message" jdbcType="VARCHAR"/>
            <result property="exceptionName" column="exception_name" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="OTHER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exception_message,exception_name,
        method,request_param,ip,
        url,user_id,user_name,
        create_time,version
    </sql>
</mapper>
